// COLORS
$color-primary: #2169A1;

$color-secondary: #EF4E24;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem; // 16px

// TYPOGRAPHY
$main-font-size : 3rem;
$white-font-size : 1.3rem;
$link-font-size : 2rem;
$free-font-size : 3rem;
$badge-font-size : 1rem;
$download-font-size : 3rem;

// IMAGE
$logo-width : 10rem;