// COLORS
$color-primary: #2169A1;

$color-secondary: #EF4E24;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem; // 16px

// TYPOGRAPHY
$main-font-size : 6rem;
$white-font-size : 4rem;
$link-font-size : 4rem;
$free-font-size : 6rem;
$badge-font-size : 3rem;
$download-font-size : 5rem;

// IMAGE
$logo-width : 19rem;

// CARd
$card-width : 70rem;
$card-height : 27rem;

/*
320 * 50

// TYPOGRAPHY
$main-font-size : 3rem;
$white-font-size : 1.3rem;
$link-font-size : 2rem;
$free-font-size : 3rem;
$badge-font-size : 1rem;
$download-font-size : 3rem;

// IMAGE
$logo-width : 10rem;
*/

/*
320.480
$card-height : 55rem;
$free-font-size : 8rem;
*/

/*
336 * 280
$card-width : 80rem;
$card-height : 36rem;
$white-font-size : 5.3rem;
*/