*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/npm/iransans@1.0.0/ttf/IRANSansWeb.ttf"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/npm/iransans@1.0.0/ttf/IRANSansWeb_Bold.ttf"); }

body {
  box-sizing: border-box;
  font-family: IRANSans, sans-serif; }

@keyframes notice-me {
  0% {
    font-size: 4rem; }
  50% {
    font-size: 4.7rem; }
  100% {
    font-size: 4rem; } }

.flex {
  display: flex; }
  .flex-row {
    flex-direction: row; }
  .flex-col {
    flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-around {
  justify-content: space-around; }

.align-items-center {
  align-items: center; }

.text-main {
  color: #2169A1;
  font-size: 1rem; }

.text-white {
  color: #fff;
  font-size: 1rem; }

.text-link {
  color: #2169A1;
  font-size: 1rem; }

.text-free {
  color: #2169A1;
  font-size: 1rem; }

.badge {
  color: #2169A1;
  font-size: 1rem; }
  .badge-white {
    color: #fff; }

.u-width-100 {
  width: 100%; }

.u-width-75 {
  width: 75%; }

.u-width-50 {
  width: 50%; }

.u-width-25 {
  width: 25%; }

.u-position-a {
  position: absolute; }

.u-position-r {
  position: relative; }

.u-margin-xs {
  margin: .5rem !important; }

.u-margin-s {
  margin: 1.5rem !important; }

.u-margin-m {
  margin: 3rem !important; }

.u-margin-l {
  margin: 5rem !important; }

.u-margin-vert-xs {
  margin: .5rem 0rem !important; }

.u-margin-vert-s {
  margin: 1.5rem 0rem !important; }

.u-margin-vert-m {
  margin: 3rem 0rem !important; }

.u-margin-vert-l {
  margin: 5rem 0rem !important; }

.u-margin-horz-xs {
  margin: 0rem .5rem !important; }

.u-margin-horz-s {
  margin: 0rem 1.5rem !important; }

.u-margin-horz-m {
  margin: 0rem 3rem !important; }

.u-margin-horz-l {
  margin: 0rem 5rem !important; }

.u-margin-top-xs {
  margin-top: .5rem !important; }

.u-margin-top-s {
  margin-top: 1.5rem !important; }

.u-margin-top-m {
  margin-top: 3rem !important; }

.u-margin-top-l {
  margin-top: 5rem !important; }

.u-margin-bottom-xs {
  margin-bottom: .5rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-m {
  margin-bottom: 3rem !important; }

.u-margin-bottom-l {
  margin-bottom: 5rem !important; }

.u-margin-left-xs {
  margin-left: .5rem !important; }

.u-margin-left-s {
  margin-left: 1.5rem !important; }

.u-margin-left-m {
  margin-left: 3rem !important; }

.u-margin-left-l {
  margin-left: 5rem !important; }

.u-margin-right-xs {
  margin-right: .5rem !important; }

.u-margin-right-s {
  margin-right: 1.5rem !important; }

.u-margin-right-m {
  margin-right: 3rem !important; }

.u-margin-right-l {
  margin-right: 5rem !important; }
