.logo {
    &-image {
        @include absCenter;
        width: $logo-width; 
        top: -.9rem;
        background-color: $color-white;
    }
    
    &-border {
        text-align: center;
        position: relative;
        width: 100%;
    }
}