@keyframes notice-me {
    0% {
        font-size: $white-font-size - .7rem;
    }

    50% {
        font-size: $white-font-size;
    }

    100% {
        font-size: $white-font-size - .7rem;
    }
}

@keyframes anim-1 {
	0%, 8.3% { opacity: 0; }
    8.3%,25% { opacity: 1; }
    33.33%, 100% { opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { opacity: 0; }
    41.63%, 58.29% { opacity: 1; }
    66.66%, 100% { opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { opacity: 0; }
    74.96%, 91.62% { opacity: 1; }
    100% { opacity: 0; }
}

.animation {
    &-notice-me {
        animation: notice-me 1s infinite;
        height: $white-font-size;
    }

    &-slider {
        @include absCenter;
        top: 0;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        height: $free-font-size;
        width: 100%;

        &-1 {
            animation-name: anim-1;
        }
        &-2 {
            animation-name: anim-2;
        }
        &-3 {
            animation-name: anim-3;
        }
    }
}