*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    // font-size: 31.25%; // 1rem = 5px;
}

body {
    box-sizing: border-box;
    font-family: IRANSans, sans-serif;
    overflow: hidden;
    width: 120px;
    height: 160px;
}


@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/npm/iransans@1.0.0/ttf/IRANSansWeb.ttf');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('https://cdn.jsdelivr.net/npm/iransans@1.0.0/ttf/IRANSansWeb_Bold.ttf');
}
