.text {

    font-weight: bold;

    &-main {
        color: $color-primary;
        font-size: $main-font-size;
    }

    &-white {
        color: $color-white;
        font-size: $white-font-size;
    }

    &-link {
        color: $color-primary;
        font-size: $link-font-size;
    }

    &-free {
        color: $color-primary;
        font-size: $free-font-size;
    }
}

.badge {
    
    display: inline-block;

    font-weight: bold;
    color: $color-primary;
    font-size: $badge-font-size;
    background-color: $color-white;
    text-align: center;

    width: fit-content;

    border-radius: 10rem;
    padding: 0 .5rem;

    &-white {
        display: inline-block;
        color: $color-white;
        font-weight: bold;
        font-size: $badge-font-size;
    }
}